@media screen and (max-width: 992px) {
    .container{
       max-width: 960px;
       flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .container{
       max-width: 680px;
    }
}

a:hover{
    color:  rgb(241, 196, 18);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 15px;
}

.container{
  position: relative;
}


