body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
  font-family: Bahnschrift;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(248, 216, 35);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 15px;
}